<!--
	polls/templates/polls/index.html
	-->
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/enquete/{{ question.id }}/">{{ question.questao_pergunta }}</a> ; há {{ question.idade_publicacao }} dias ; publicada em {{ question.questao_data_pub }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<!--
	polls/templates/polls/detail.html
	-->
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>